.main-type-bar {
  position: relative;
  top: 284px;
  height:150px;
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 10px;
}

.main-type-item {
  flex: 1;
}

.main-type-item a{
  color: #000000;
  cursor:pointer;
  text-decoration: none;
  margin-bottom: 5px;
}

.main-type-item-img {
  width:auto;
  height: 90px;
  border-radius:50%;
  /*overflow:hidden;*/
}

.main-type-item-desc {
  text-align: center;
}