.swiper {
  position: fixed;
  top: 49px;
  width: 100%;
  height: 235px;
}

.swiper img {
  height: 100%;
  width: 100%;
}

.swiper .currImg{
  color: red;
}

.swiper-img-index {
  float: left;
  text-align: center;
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 9;
  color: white;
  cursor:pointer;
}